body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* === HEADER === */
.logo {
color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-logo {
  color: #2E2F42;
}

.menu-item-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.menu-item-link:hover {
    color: #404bbf
}

.menu-item-link:focus {
    color: #404bbf
}

.address {
    font-style: normal;
}

.address-link {
  color: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-item a:hover {
  color: #404bbf;
}

.address-item a:focus {
  color: #404bbf;
}
/* ============== */

/* === HERO === */
.hero {
  background-color: #2e2f42;
}

.hero-title {
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-btn {
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.hero-btn:hover {
    background-color: #404bbf;
}

.hero-btn:focus {
    background-color: #404bbf;
}

.hero-btn:active {
  background-color: #404bbf;
}
/* ============= */

/* === TEAM === */
.team {
  background-color: #f4f4fd;
}

.team-member {
  background-color: #ffffff;
}
/* ============== */

.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}

.footer-logo {
  color: #F4F4FD;
font-family: Raleway. sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
